.contact {
    h1 {
        @media (max-width:463px) {
            font-size: 34px;
        }
        font-size: 44px;
        font-weight: bold;
        color: $primarycolour;
        font-family: $lato;
        margin-bottom: 43px;

    }
    p {
        @media (max-width:463px) {
            font-size: 18px;
        }
        font-size: 22px;
        font-family: $SourceSansPro;
        color: $textcolour;
        max-width: 744px;
        margin: 0px auto;
        margin-bottom: 46px;
    }
    button {
        @media (max-width:463px) {
            height: 40px;
            width: 135px;
        }
        background-color: $secondarycolour;
        color: #ffffff;
        font-size: 15px;
        font-family: $SourceSansPro;
        font-weight: bold;
        border: none;
        border-bottom: 2px solid #00a085;
        border-radius: 5px;
        height: 48px;
        width: 150px;
    }
}