$primarycolour: #506a85;
$secondarycolour: #00bc9c;
$textcolour: #73879c;
$paragraphcolour: #a3b1bf;
$footerclour: #2f4052;
$footerbarcolour: #283645;
$footertextcolour: #a3b1bf;
$SourceSansPro: 'Source Sans Pro', sans-serif;
$lato: 'Lato', sans-serif;
